body {
  font-family: 'Cinzel', 'serif';
}

.hl {
  /*background-color: #F7838D !important;*/
  /*color: #473c38 !important;*/
  color: darkgoldenrod;
}

.dimgrey {
  border: 1px solid dimgrey;
}

.logo {
  width: 200px;
  height: auto;
}

.hl a, .hl a:hover {
  /*color: #473c38;*/
  color: darkgoldenrod;
}

.hl a:hover {
  color: darkgoldenrod;
}

body > div > nav {
  /*border-bottom: 1px solid #473c38;*/
  border-bottom: 1px solid darkgoldenrod;
  font-family: 'Cinzel';
}

.landing-text {
  font-size: 48px;
}